{% load static %}
<html>
  <head>
    <title>Molecule Calculator</title>
    <link href="https://fonts.googleapis.com/css?family=\
ource+Sans+Pro:400" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <link href="{% static 'css/css_new.css' %}" rel="stylesheet">
    <script src="jquery-3.7.1.min.js"></script>
  </head>
  <body>
      <header> 
        <div class="nav-left">
          <div class = "bgc-white bookmark bm-top border-gold">
            <a class="bold-font big-font gold-font" href="{% url 'home' %}">Molecule Calculator</a>
          </div>
          <div class = "bgc-white bookmark bm-top border-pink">
            <a class="bold-font big-font pink-font " href="{% url 'post_suma' %}">Add New Molecule</a>
          </div>
          <div class = "bgc-white bookmark bm-top border-pink">
            <a class="bold-font big-font pink-font " href="{% url 'post_suma2' %}">Add New Reaction</a>
          </div>
        </div>
        <div class="nav-right" >
          {% if user.is_authenticated %}
          <div class="bold-font normal-font pink-font bgc-white bookmark bm-top border-pink">
            <span class="big-font pink-font">Hi
              <span class="big-font gold-font">{{ user.username }}</span>
            !
            </span>
            <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="bold-font small-font white-font button bgc-gold border-gold margin1-top">Log Out</button>
        </div>
          </form>
          {% else %}
          <div class="bold-font small-font bookmark bm-top bgc-white border-pink">
            <span class="pink-font">
              You are not logged in.</br>
            </span>
            <a class="normal-font gold-font" href="{% url 'login' %}">
              Log In
            </a>
            <span class="pink-font">
              If you don't have an account.</br>
            </span>
            <a class="normal-font gold-font" href="{% url 'signup' %}">
              Sign up
            </a>
          </div> 
          {% endif %}  
                 
        </div>
      </header>
      <div class="content bgc-white border-pink padding2 margin1 ">
        {% block content %}

        {% endblock content %}
      </div>
      <footer class="bold-font small-font pink-font bgc-white bookmark bm-bottom border-pink">
        <div>
          Projekt UG Bioinfomatyka 2025 (Ulepszony tych slabych z 2024)
        </div>
      </footer>
  </body>
</html>
