{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<div class="bold-font big-font pink-font dott-bottom-rose">
  Hi {{ user.username }}!
</div>
{% else %}
<div class="bold-font big-font pink-font dott-bottom-rose">
  You are not logged in
</div>
{% endif %}

<form method="post" action="{% url 'delete_selected' %}">
  {% csrf_token %}
  {% for post in post_list %}
  <div class="dott-bottom-rose">
    <label>
      <input type="checkbox" name="selected_ids" value="{{ post.id }}">
      <span class="bold-font normal-font gold-font">Name: {{ post.nazwa }}</span>
    </label>
    <p class="normal-font pink-font">Smiles: {{ post.smiles }}</p>
  </div>
  {% endfor %}
  <button type="submit" class="pink-font bold-font">Usuń zaznaczone</button>
</form>

{% endblock content %}

