{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<div class="bold-font big-font pink-font dott-bottom-rose">
  Hi {{ user.username }}!
</div>
{% else %}
<div class="bold-font big-font pink-font dott-bottom-rose">
  You are not logged in
</div>
{% endif %}

{% for post in post_list %}
<div class="dott-bottom-rose">
  <a class="bold-font normal-font gold-font" href="{% url 'post_detail' post.pk %}">Name: {{ post.nazwa }}</a>
  <p class=" normal-font pink-font">Smiles: {{ post.smiles }}</p>
</div>
{% endfor %}
{% endblock content %}
