{% extends "base.html" %}

{% block content %}

<div class="post-entry">
  <p id="Name"><span>Name: </span>{{ post.nazwa }}</p>
  <p><span>Smiles: </span>{{ post.smiles }}</p>
  {% if not post.smiles1 != "" %}
  <p><span>Heat of Formation:</span> {{ post.cieplo }} KJ/MOL </p>  
  <p><span>Ionization:</span> {{ post.ionization }} EV </p>  
  <p><span>Method Used:</span> {{ post.metoda }} </p>  
  <p><span>Gradient:</span> {{ post.grad }} eV/A </p>
  {% else %}
  <p><span>Heat of Formation1:</span> {{ post.cieplo1 }} KJ/MOL </p>  
  <p><span>Ionization1:</span> {{ post.ionization1 }} EV </p>  
  <p><span>Heat of Formation2:</span> {{ post.cieplo2 }} KJ/MOL </p>  
  <p><span>Ionization2:</span> {{ post.ionization2 }} EV </p>  
  <p><span>Method Used:</span> {{ post.metoda }} </p>   
  <p><span>Gradient1:</span> {{ post.grad1 }} ev/A </p>
  <p><span>Gradient2:</span> {{ post.grad2 }} ev/A </p>
  <p><a href="/media/{{post.id}}/ts.html"> REACTION </a></p>
  {% endif %}
</div>


{% if post.calculated %}
<p class ="calculate"><a href="{% url 'post_calculations' post.pk %}"># See Calculations </a></p>
{% endif %}

<img src="/media/{{post.id}}/molecule.svg">
<p>
  <script src="https://unpkg.com/ngl@2.1.0-0/dist/ngl.js"></script>
  <span id = "postid" style="visibility: hidden;">{{post.id}}</span>
  <script src="/static/js/main.js" defer></script>

  <p class="idk">Start.mol2</p> 
  <div class="scroll">
    <div id="clickedId"></div>
    <div id="viewport1" class="viewport">
    </div>
  </div>
  <div  id="buttons1">
  </div>

<img src="/media/{{post.id}}/nalesnik.png">
<img src="/media/{{post.id}}/placek.png">
  <p class="idk">Molecule.mol2</p>
  <div class="scroll">
  <div id="viewport2"></div>
  </div>
  <div  id="buttons2">
  </div>


{% if not post.calculated %}
<p class="calculate"><a href="{% url 'post_calculate' post.pk %}">+ Calculate Molecule</a></p>  

{% endif %}
{% if post.calculated %}
<p class ="calculate"><a href="{% url 'post_calculations' post.pk %}"># See Calculations </a></p>
{% endif %}
{% if post.calculated %}
<p class ="calculate"><a href="{% url 'post_calculations' post.pk %}"># See Calculations </a></p>
{% endif %}
<p class="delete"><a href="{% url 'post_delete' post.pk %}">+ Delete Molecule</a></p>
{% endblock content %}

