{% extends "base.html" %}

{% block content %}

<div class="post-entry">
  <div id="Name">
    <span class="bold-font big-font pink-font">Name: 
      <span>{{ post.nazwa }}</span>
    </span>
  </div>
  <div>
    <span class="bold-font normal-font gold-font">Smiles: 
      <span>{{ post.smiles }}</span>
    </span>
  </div>
  {% if not post.smiles1 != "" %}
  <div>
    <span class="bold-font normal-font gold-font">Heat of Formation: 
      <span> {{ post.cieplo }} KJ/MOL </span>
    </span>
  </div> 
  <div>
    <span class="bold-font normal-font gold-font">Ionization: 
      <span> {{ post.ionization }} EV </span>
    </span>
  </div> 
  <div>
    <span class="bold-font normal-font gold-font">Method Used: 
      <span> {{ post.metoda }} </span>
    </span>
  </div> 
  <div>
    <span class="bold-font normal-font gold-font">Gradient: 
      <span> {{ post.grad }} eV/A </span>
    </span>
  </div>
  {% else %}
  <div>
    <span class="bold-font normal-font gold-font">Heat of Formation1: 
      <span> {{ post.cieplo1 }} KJ/MOL </span>
    </span>
  </div> 
  <div>
    <span class="bold-font normal-font gold-font">Ionization1: 
      <span> {{ post.ionization1 }} EV </span>
    </span>
  </div> 
  <div>
    <span class="bold-font normal-font gold-font">Heat of Formation2: 
      <span> {{ post.cieplo2 }} KJ/MOL </span>
    </span>
  </div> 
  <div>
    <span class="bold-font normal-font gold-font">Ionization2: 
      <span> {{ post.ionization2 }} EV </span>
    </span>
  </div> 
  <div>
    <span class="bold-font normal-font gold-font">Method Used: 
      <span> {{ post.metoda }} </span>
    </span>
  </div>  
  <div>
    <span class="bold-font normal-font gold-font">Gradient1: 
      <span> {{ post.grad1 }} ev/A </span>
    </span>
  </div>
  <div>
    <span class="bold-font normal-font gold-font">Gradient2:
       <span> {{ post.grad2 }} ev/A </span>
      </span>
    </div>
  <div>
    <a href="/media/{{post.id}}/ts.html" class="bold-font normal-font gold-font"> REACTION </a>
  </div>
  {% endif %}
</div>


{% if post.calculated %}
<div class ="calculate"><a href="{% url 'post_calculations' post.pk %}"># See Calculations </a></div>
{% endif %}

<img class='dupa' src="/media/{{post.id}}/molecule.svg">
<div>
  <script src="https://unpkg.com/ngl@2.1.0-0/dist/ngl.js"></script>
  <span id = "postid" style="visibility: hidden;">{{post.id}}</span>
  <script src="/static/js/main.js" defer></script>

  <div class="idk">Start.mol2</div> 
  <div class="scroll">
    <div id="clickedId"></div>
    <div id="viewport1" class="viewport">
    </div>
  </div>
  <div  id="buttons1">
  </div>

<img src="/media/{{post.id}}/nalesnik.png">
<img src="/media/{{post.id}}/placek.png">
  <div class="idk">Molecule.mol2</div>
  <div class="scroll">
  <div id="viewport2"></div>
  </div>
  <div  id="buttons2">
  </div>


{% if not post.calculated %}
<div class="calculate"><a href="{% url 'post_calculate' post.pk %}">+ Calculate Molecule</a></div>  

{% endif %}
{% if post.calculated %}
<div class ="calculate"><a href="{% url 'post_calculations' post.pk %}"># See Calculations </a></div>
{% endif %}
<div class="delete"><a href="{% url 'post_delete' post.pk %}">+ Delete Molecule</a></div>
{% endblock content %}

