{% extends "base.html" %}

{% block content %}

<div class="post-entry">
  <h2>{{ post.nazwa }}</h2>
  <p>{{ post.smiles }}</p>
  {% if not post.smiles1 != "" %}
  <p><span>Heat of Formation:</span> {{ post.cieplo }} KJ/MOL </p>  
  <p><span>Total Energy:</span> {{ post.energia }} EV </p>  
  <p><span>Method Used:</span> {{ post.metoda }} </p>  
  {% else %}
  <p><span>Heat of Formation1:</span> {{ post.cieplo1 }} KJ/MOL </p>  
  <p><span>Total Energy1:</span> {{ post.energia1 }} EV </p>  
  <p><span>Heat of Formation2:</span> {{ post.cieplo2 }} KJ/MOL </p>  
  <p><span>Total Energy2:</span> {{ post.energia2 }} EV </p>  
  <p><span>Method Used:</span> {{ post.metoda }} </p>  
  <p><a href="/media/{{post.id}}/ts.html"> REACTION </a></p>
  {% endif %}
</div>


{% if post.calculated %}
<pre>{{ post.calculations |safe }}</pre>       
{% endif %}
<script src="/static/js/main.js">
  let id = JSON.parse('{{post.id}}')
</script>
<img src="/media/{{post.id}}/molecule.svg">
<p>
  <script src="https://unpkg.com/ngl@2.1.0-0/dist/ngl.js"></script>
  <p class="idk">Start.mol2</p> 
  <div class="scroll">
    <div id="clickedId"></div>
    <div id="viewport1" class="viewport">
    </div>
  </div>
  <div  id="buttons">
    <p>Turn:</p>
    <button id="toggleBackground"  onclick="toggleBackground">Background on</button>
    <button id="toggleSideChains"  onclick="toggleSideChains">Side chains on</button>
    <button id="toggleLabels"  onclick="toggleLabels">Labels on</button>
  </div>

<img src="/media/{{post.id}}/nalesnik.png">
<img src="/media/{{post.id}}/placek.png">
  <p class="idk">Molecule.mol2</p>
  <div class="scroll">
  <div id="viewport"></div>
  </div>
  <div  id="buttons">
    <p>Turn:</p>
    <button id="toggleSpin" onclick="toggleSpin">Spin on</button>
    <button id="toggleBackground"  onclick="toggleBackground">Background on</button>
    <button id="toggleSideChains"  onclick="toggleSideChains">Side chains on</button>
    <button id="toggleLabels"  onclick="toggleLabels">Labels on</button>
  </div>


{% if not post.calculated %}
<p class="calculate"><a href="{% url 'post_calculate' post.pk %}">+ Calculate Molecule</a></p>  
{% endif %}
<p class="delete"><a href="{% url 'post_delete' post.pk %}">+ Delete Molecule</a></p>
{% endblock content %}
